.container-navbar {
  background-image: linear-gradient(
    to left,
    #974cdc,
    #597afb,
    #009bff,
    #00b5ff,
    #00cbf7,
    #33bde5,
    #45afd3,
    #4b475d,
    #2d242c,
    #000000,
    #000000,
    #000000
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 15rem;
}

ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

ul li a:hover {
  color: gray;
}
